* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}

body{
    transition: .5s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
input {
    outline: none;
    border: none;
    background: transparent;
}

.container {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}
